/* Css for header */
.col-md-12{
    padding:0;
}
/* Css  for main */
.my-job{
    font-size: 25px;
    color: rgba(41, 39, 39, 0.7);
}
.my-text{
    text-align: justify;
}
/* Css for section */
.carousel-item .col-md-6{
    text-align: justify;
}
/* Css for item */
.item .col-md .fs-6{
    color:aqua;
}